@import '../scss/variables';

.footer {
    width: 100%;
    background-color: $grey-bg;
    padding: 40px 0 65px 0;

    &__container {
        max-width: $max-width;
        margin: 0 auto;

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 0px;

            .socialmediaicons {
                display: $display-flex;
                gap: 15px;

                img {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        &-mid {
            padding-top: 30px;
            padding-bottom: 40px;
            display: flex;
            justify-content: space-between;

            h5 {
                color: $text-color;
                padding-right: 15px;
                padding-bottom: 7px;
            }

            ul {
                margin-bottom: 1rem;
                line-height: 24px;

            }

            li {
                list-style-type: none;
                margin-bottom: 4px
            }

            a {
                font-size: 14px;
                text-decoration: none;
                color: $text-color;
            }

            button {
                border: none;

            }
        }

        &-bottom {
            text-align: right;

            img {
                width: 210px !important;
                padding-top: 20px;
            }
        }


    }
}

@media screen and (max-width: 768px) {

    .footer {
        padding: 0 20px;

        &__container {

            &-top {
                flex-direction: column;
            }

            &-mid {
                flex-direction: column;
            }
        }
    }
}